body {
  background-color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
}

.Container {
  width: 70%;
  height: 60%;
  margin: 0 auto;
}

.titulo{
    text-align: center;
}

.divTituloCuento{
    text-align: center;
}
.boton{
    text-align: center;
}

.contenido{
    width: 100%;
    height: 100%;
    display: none;
    word-wrap: break-word;
    overflow: auto;     
}

.center{
    text-align: center;
}

.nivel-css{
    text-align: center;
    font-size: 20px;
}

.nivel-css1{
    text-align: center;
    font-size: 20px;
}

.salida{
    text-align: center;
}

h1 {
  font-size: 25px; 
}

.btn {
  width: 170px;
  height: 70px;
  font-size: 25px;
  background-color: #007BFF;
  border: 2px solid black; 
  margin-bottom: 4px;
  color: white;
}

.btn:hover {
  background-color: #DC143C;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  border: black;
}

#menu {
  display: none;
  text-align: center;
}

#menu1 {
  display: none;
  text-align: center;
}

#score {
  font-size: 24px;
  margin-bottom: 0;
}

#tituloCuento {
  font-size: 24px;
  margin-top: 0;
}

#question {
  display: none;
  margin-left: 100px;
}

#op {
  font-size: 32px;
  color: white;
  padding: 2px 2px 2px 2px;
  background-color: #DC143C;
}

#answer {
  display: none;
}

#input {
  display: none;
  margin-top: 30px;
  margin-left: 62px;
  height: 30px;
  border: 2px solid;
}

#output {
  display: none;
  margin-left: 1px;
}

#victory {
  display: none;
  margin-top: 0;
  font-size: 50px;
}

#restart {
  display: none;
}